/* src/components/css/ProductCard.css */
.apartment-details {
  display: flex;
  flex-wrap: wrap;
}

.apartment-info:not(:last-child) {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #dadadb;
}